[2015-10-20 03:30] natefinch opened #1 "Error in package repository: schema version is not a valid number"
I tried to add https://packagecontrol.io/testing/go_packages.json as a package repository, but I get this error:

I'm on Sublime Text 3 version: 3083 linux x64 channel: stable

[2015-10-20 15:15] ChrisHines opened #2 "Cannot run build commands without the -v flag."
The build commands always append the `-v` flag. That is undoubtedly useful for `go install` but not always wanted for `go test`. The build system seems to append the `-v` flag independently of flags set in the Sublime configuration.

Can we have a way to run the build commands without `-v`?

[2015-10-20 15:22] ChrisHines opened #3 "Cannot navigate from build errors to source code location."
When the compiler produces errors in the form `file/path.go:19 undefined asdf` we should be able to select the error or navigate to prev/next build result with the Sublime build system navigation commands. This does not seem possible yet.

[2015-10-20 16:10] wbond commented on #1
This almost certainly means you are using an old version of Package Control. If you run the "List Packages" command, what version is listed for Package Control?

[2015-10-20 16:12] wbond commented on #2
How about if the flags are set via configuration they replace `-v` instead of appending after it?

[2015-10-20 16:14] ChrisHines commented on #2
That sounds good. That's what I was expecting, actually.

[2015-10-20 16:27] natefinch commented on #1
v2.0.0 alpha12 .. evidently an old version (though I don't actually see what the current version is on packagecontrol.io)

[2015-10-20 16:30] wbond commented on #1
Yeah, you are mostly likely stuck on the alpha due to a self-updating bug. The instructions at https://packagecontrol.io/docs/troubleshooting#Purging_and_Reinstalling should help.

[2015-10-20 16:44] natefinch commented on #1
Purge and reinstall worked perfectly, thanks!

[2015-10-20 16:44] #1 closed

[2015-10-20 16:45] natefinch commented on #1
Might be worth a comment in the readme that this requires package control 3.x ... though maybe I'm the only one still stuck on 2.x

[2015-10-20 17:30] wbond commented on #1
Only old alpha users with broken installs are on 2.x. No packages other than Package Control itself are available to users running Package Control older than 3.0. Also, this issue will not be present once the package is added to the default channel.

[2015-10-20 19:54] jbuberel commented on #3
@wbond Can you comment on what would be required to add this support to the build output console?

[2015-10-20 20:04] wbond commented on #3
It looks like we need to add `result_file_regex`, `result_line_regex` and `result_base_dir` settings to the output. I need to check and make sure those will work with the output panel name we are using. We may have to use the default build system output panel to get those commands to work.

I'll work on a CL for this.

[2015-10-20 20:48] natefinch commented on #3
This would definitely make the package 1000 times more useful.... being able to click on the name of the file and go to a compile error is really the main reason I'd want to build inside sublime.

[2015-10-20 22:19] jbuberel commented on #3
The only tricky part that I can think of is the case of a multi-entry `$GOPATH`. In fact, I think there are several interesting use cases to consider because the Go compiler may emit path information that is relative to some portion of the GOPATH. This may not map directly to your Sublime project `folder` settings:
- Your GOPATH has a single directory, and that directory is also your sublime proje

[2015-10-20 22:42] jbuberel opened #4 "GOPATH not set with multi-entry GOPATH on Windows"
Executing build on `command.go` works correctly with this project config:

[code]

But when I add a second entry to the `GOPATH` for windows as below...

[code]

I get the following error dialog:
![image](https://cloud.githubusercontent.com/assets/1711364/10623137/1f61db7c-7741-11e5-88c9-bdfc5854c222.png)

[2015-10-21 00:26] wbond commented on #4
Are there any entries printed in the Sublime Text console?

[2015-10-21 00:29] jbuberel commented on #4
No, nothing :-(

I also tried treating the `"GOPATH":` entry like a JSON array, but that didn't work either. Is there some other standard way of representing multi-part path entries on Sublime/Windows?

[2015-10-21 03:01] wbond commented on #4
I was not aware that `GOPATH` could have multiple entries. At https://github.com/golang/sublime-config/blob/master/all/golangconfig.py#L288-L303, you'll see that we are testing to see if the value for `GOPATH` exists on the filesystem.

It appears to get the console output in this situation, the `debug` setting under `golang` needs to be set to `true.

Either way, I've opened golang/sublime-config

[2015-10-21 05:30] natefinch opened #5 "can't search build output"
Whatever type of panel the build output is in evidently can't coexist with the search panel... which means I can't search the build output, which is kind of a deal breaker when I get huge quantities of text dumped during a test failure.

[2015-10-21 17:25] wbond commented on #5
This is unfortunately the way that the Sublime Text UI works.

The only way I could imagine getting around this would be to add a command to open the build results in a normal editor view. This would require a new command that would need to be invoked by the user after a build completes.

[2015-10-21 19:35] natefinch commented on #5
Wow, that's horrible.  I guess I can manually copy and paste, but man, that seems like a big drawback.  Ahh well, guess it can't all be perfect.  I don't know that it really needs a new command, ctrl-A ctrl-c will copy the whole contents of the pane anyway.

[2015-10-21 21:05] wbond commented on #3
CL posted at https://go-review.googlesource.com/#/c/16153/.

@jbuberel The filename output from `go` is relative to the working directory, so I was able to get the correct behavior just by setting the `result_base_dir` setting to the working directory.

[2015-10-21 22:19] jbuberel commented on #3
Just pushed v0.8.1 tag. This feature is now available. On Windows, I am able to double-click an entry in the console output, and it will take me to that file:line combination.

[2015-10-21 22:19] #3 closed

[2015-10-22 04:17] natefinch commented on #3
Works for me on linux. Nice work! This is awesome!

[2015-10-22 16:05] jbuberel commented on #5
I agree that this is a regrettable limitation with ST3, but the opening build output  in a new editor window would be jarring and cause the current code editor to lose focus.

As such, closing out this issue for now.

[2015-10-22 16:05] #5 closed

[2015-10-22 20:04] wheineman opened #6 "Issues on Windows 8 with Sublime Text 3"
Tools (go-build) don't work. Here's the stacktrace from the console:

Traceback (most recent call last):
  File "C:\Users\heinemanwp\MyApps\Sublime Text 3\sublime_plugin.py", line 535, in run_
    return self.run()
  File "golang_build in C:\Users\heinemanwp\AppData\Roaming\Sublime Text 3\Installed Packages\Golang Build.sublime-package", line 88, in run
  File "golang_build in C:\Users\heinemanwp\

[2015-10-23 03:18] wbond commented on #6
Perfect, thanks for the bug report!

[2015-10-23 15:20] jbuberel commented on #4
https://go-review.googlesource.com/#/c/16251/1

[2015-10-23 15:21] jbuberel commented on #2
https://go-review.googlesource.com/#/c/16252/

[2015-10-24 16:26] vladimirvivien opened #7 ""Package Golang Build is not available" during installation"
Hello, great to see official support for sublime from the golang project.
However, I was not able to complete the installation, the package is not found.

1) What version of Go are you using (go version)?
go version go1.5.1 darwin/amd64
Sublime Text Stable Channel Build 3083

2) What operating system and processor architecture are you using?
OSX 10.10.5

3) What did you do?
 * I installed the pack

[2015-10-24 16:39] vladimirvivien commented on #7
The package is not listed on the Package Control web site either

https://packagecontrol.io/search/golang

[2015-10-24 17:13] wbond commented on #7
This package is currently undergoing beta testing, so it has not been added to the default channel yet. https://forum.golangbridge.org/t/beta-testers-wanted-sublimetext-go/1282/15 has more details.

Sorry for the readme being confusing right now!

[2015-10-24 19:50] webRat commented on #7
I would remove the section from the readme until it's available on https://packagecontrol.io/

[2015-10-24 20:24] wbond commented on #7
@webRat Unfortunately I don't have the ability to do that right now. It seems the auto sync from https://go.googlesource.com/sublime-build/ is broken. For now this issue will have to do.

[2015-10-25 18:45] vladimirvivien opened #8 "Support for "go run""
I don't see support for `go run` of the box.
Looking at the code and test it looks it is a matter of specifying `task:run`.
If that is the case where do I specify that task so it will be available in sublime?
If it's a code change, where would that go ?

[2015-10-26 05:18] jbuberel commented on #7
@vladimirvivien @webRat - We're getting very close (a few days) to having a build that we think is good enough to make available via the standard package control mechanisms. Once that happens, this should no longer be an issue (and the documentation on the Git repo will work correctly).

I'm going to close this issue for now, as it will be resolved in the next few days.

[2015-10-26 05:18] #7 closed

[2015-10-26 05:19] jbuberel commented on #4
I've confirmed this is now working correctly in the v0.8.1 release.

[2015-10-26 05:19] #4 closed

[2015-10-26 05:24] jbuberel commented on #2
Confirmed with the 0.8.1 build, using the following project configuration:

[code]

The console output of running the 'install' command with this configuration confirmed that the -v flag was not used:

[code]

[2015-10-26 05:24] #2 closed

[2015-10-26 05:44] jbuberel commented on #8
@vladimirvivien Good suggestion. Let me discuss this with @wbond to better understand the work involved to support `go run` as a build variant.

My concern is that the console where output is captured could get very large if your program was long running and produced verbose output.

[2015-10-26 14:42] vladimirvivien commented on #8
@jbuberel valid concern.  However, one does hope that the programmer would be sensitive to the limitation of sublime as a terminal.  Having the ability to do quick tests with `go run` would greatly increase the usefulness of the project.  Thanks.

[2015-10-27 08:06] navneetkarnani opened #9 "Not available on packagecontrol.io"
I tried looking up on the packagecontrol.io site, but can't find it there. Neither does it list when I search from with my Sublime 2 installation.

[2015-10-27 12:31] wbond commented on #9
This is a duplicate of #7

[2015-10-28 18:06] wbond commented on #6
This was fixed by version 0.8.1 of https://github.com/golang/sublime-config, and should no longer be an issue if you are on version 0.8.3 or newer of Golang Build.

[2015-10-28 18:07] wbond commented on #6
@jbuberel Can you close this?

[2015-10-28 18:10] wbond opened #10 "Documentation Title Links Don't Work on go.googlesource.com"
The package currently directs users to https://go.googlesource.com/sublime-build/+/master/docs/configuration.md to help with configuration issues.

Unfortunately GitHub and go.googlesource.com use different patterns for generating the ids used for title links. On GitHub they are all lower case and on go.googlesource.com they are capitalized.

Two options:

 1. Rewrite links to work with go.googles

[2015-10-28 22:12] #6 closed

[2015-10-28 22:20] jbuberel commented on #8
First CL to add this now in code review:
https://go-review.googlesource.com/#/c/16441

[2015-10-28 22:20] #9 closed

[2015-10-29 00:45] vladimirvivien commented on #8
@jbuberel thanks for the quick response!

[2015-10-29 11:56] mpvl opened #11 "Focus to file when clicking on an error"
Right now the focus remains with the build results pane. It would be nicer to focus the cursor on the file that was clicked on.

[2015-10-29 13:33] wbond commented on #11
The build navigation is implemented by Sublime Text itself, so it isn't something we can tweak.

[2015-10-29 17:53] mpvl commented on #11
Bummer. Already a big improvement on what I had before though. :)

[2015-10-29 17:53] #11 closed

[2015-10-29 18:10] wbond commented on #8
This is available as of version 0.8.5. You can use `Upgrade Package` from the command palette if `List Packages` shows that you do not have that version yet.

[2015-10-29 18:10] wbond commented on #10
Thoughts @jbuberel?

[2015-10-29 22:28] jbuberel commented on #10
We definitely do want all links to point to the github.com version. We should not have any end-user links referring to go.googlesource.com.

[2015-10-29 22:49] jbuberel commented on #8
Verified the command is now available with 0.8.5.

[2015-10-29 22:49] #8 closed

[2015-10-29 22:55] jbuberel opened #12 "Unable to cancel build with `go run`"
1. I opened my Project, which is rooted in my `$GOPATH/src` directory.
1. I navigated to the `gometrics.go` command from my https://github.com/jbuberel/gometrics/ project.
1. I execute 'Tools -> Build with...' and select `Go: Run`
1. The command begins to execute, with output visible in the console.
1. The 'Tools -> Cancel Build' menu item is disabled.
1. Pressing Ctrl-C does not terminate the run

[2015-10-29 23:08] wbond commented on #12
Unfortunately the ST API doesn't allow hooking into the Cancel menu item with a custom build command. Instead you have to use the Go: Cancel Build command palette entry. Ctrl-c is bound in ST to show the current scope.

The only way to Improve this would be to possibly add our own menu item for cancelling a Go build. However it would show all the time - just disabled when no go build was running.

[2015-10-29 23:17] jbuberel commented on #12
Is it possible to change the binding for Ctrl-C to invoke 'Go: Cancel Build' in the user's global/project settings?

Perhaps we could include that in the installation guide as a 'Suggested customization to make killing programs easier'?

In either case, we should definitely address that in the documentation. If you like, I can take a swing at writing it up.

[2015-10-29 23:26] wbond commented on #12
Canceling a build is covered in the usage docs, but perhaps we should make an extra mention when discussing Run. I guess this is one of the usability downsides to adding Run support.

Personally I'm not a fan of recommending ctrl-c. That is copy on two of the three supported platforms.

[2015-10-29 23:32] jbuberel commented on #12
That makes sense to me. Let me take a look through the docs, and see if
there's a place where calling this out should be more visible.

Now that I know, it's definitely not a big deal. But I (like many end
users) did not read the docs carefully enough to have noted this.

On Thu, Oct 29, 2015 at 4:26 PM Will Bond notifications@github.com wrote:

[2015-10-29 23:32] wbond commented on #12
Yeah, I think that is understandable. Noticing the docs on canceling isn't something I would expect. I just know since I built it. :-)

[2015-10-30 15:15] wbond commented on #10
https://go-review.googlesource.com/#/c/16449/

[2015-10-30 21:34] #10 closed

[2015-10-30 21:35] jbuberel commented on #12
New documentation added to help explain this behavior in v0.8.7

[2015-10-30 21:35] #12 closed

[2015-11-10 13:35] grange74 opened #13 "Recommended way to run Benchmarks"
I'm really enjoying using this new sublime package. The only very minor issue i've found so far is that it was not obvious how to run Benchmarks.
After looking through all the wikis i can see that there are a lot of configuration options which can allow you to do it (a few examples below) but nothing in the documentation actual references Benchmarks directly.
Anyway i thought having something spec

[2015-11-10 14:07] mdwhatcott opened #14 "Add support for running go generate"

[2015-11-10 20:25] jbuberel commented on #13
@grange74 I like that suggestion! How about if I were to add that as a new section under "Command Flags":

https://github.com/golang/sublime-build/blob/master/docs/configuration.md#command-flags

Or is there a better place to put this?

[2015-11-10 20:27] jbuberel commented on #14
@mdwhatcott If you have a few minutes, take a look at the suggested configuration for running benchmarks described here:

https://github.com/golang/sublime-build/issues/13

Could you give that approach a try?

I could also use a couple of example go generate commands that you typically run. Would you mind pasting a few here?

[2015-11-10 21:08] wbond commented on #13
@jbuberel Do you think we should consider adding a new build variant by default for this?

The downside of overriding `test:flags` is that benchmarks always run with tests. The addition to the command palette would not override test, but it would not be presented as a build variant.

[2015-11-10 21:19] grange74 commented on #13
A build variant would be ideal.
After running the `test:flags` option a few times, i realised that it doesn't work too well as typically you either wanted the tests to run or the benchmarks, not both.

[2015-11-10 23:05] grange74 commented on #13
Similar to adding a command to the palette, using key bindings works well and is my preferred option after a build variant.

Example:

[code]

Added using instructions in the [Key Bindings Example wiki](https://github.com/golang/sublime-build/blob/master/docs/commands.md#key-binding-example)

[2015-11-10 23:53] grange74 opened #15 "Cannot navigate from build errors to source code location if you have add -cover flag"
Normally clicking on a build error takes me to the source code location but after i added the -cover to my ```test:flags``` settings it just opens an empty file. Strangely it works if my error is in a test file but not if in a source file.

Normally when it works i get an output similar to this:

[code]

After adding the -cover flag i get and clicking on the build error opens an empty file.

[code

[2015-11-11 01:47] wbond commented on #15
If an empty file is opened, that makes me think that `go` is generating a temporary file, then cleaning it up, but reporting that temporary file path. It would seem to me that instead of that large temporary path, it should print the relative file path like the command not including `-cover`.

I'm inclined to think this is something that should be fixed in the `go` tool, but that is just based on

[2015-11-11 17:13] jbuberel commented on #15
@wbond Indeed, this is a temporary file that is removed by the Go tool when execution completes. There is no way I know of to disable this behavior. So there is no way to fix this in the Golang Build package.

[2015-11-11 17:13] #15 closed

[2015-11-11 17:29] jbuberel commented on #13
@wbond I like that suggestion - adding a new build variant that is specific to Go Generate.

@grange74 If Will and I were to provide some guidance on how to go about adding the feature, would you be willing to make time to prepare a CL for it?

[2015-11-12 05:41] grange74 commented on #13
Yes, i'd like to have a go at making the changes. I'm keen to contribute to the Go community.
Just a warning I will be a bit slow as i'm new to Gerrit, haven't done much python and doing it in my spare time.
Thankfully it seems you've provided good documentation on contributing and particularly getting an environment setup to run the tests, which is usually one of the main hurdles.

Should i imple

[2015-11-12 14:09] grange74 commented on #13
I have submitted my changes for review, i hope that i have followed all the guidelines correctly.

[2015-11-13 15:39] jbuberel commented on #13
@grange74 Awesome - taking at look at it now. I've added myself and @wbond as code reviewers:

https://go-review.googlesource.com/#/c/16851/

[2015-11-13 16:01] jbuberel commented on #13
Overall, this looks great.

One question I have is this: The command that would be executed is `go test -bench=.`, which will be executed in the directory containing the file currently being edited.

But as per the `go help testflag` documentation, you can optionally specify a regular expression to match the set of benchmarks you'd like to have executed:

[code]

How would a user configure this co

[2015-11-13 16:52] jbuberel commented on #13
@grange74 You probably already figured this out, but just in case:

When addressing feedback from the code review, edit/commit locally as you normally would. When your next patch set is ready, just run

`git mail`

And it will append the next patch set to your in-progress CL.

[2015-11-15 13:03] grange74 commented on #13
Thank you both for the quick and detailed feedback.

@jbuberel i hope that i understood your questions correctly.
1st question: this is probably also related to Will's comments in gerrit. My changes don't  currently cater for this. I will be changing it so that it only appends `-bench=.` if the `-bench` flag hasn't already been set. This should allow users to specify a regular expression to only r

[2015-11-17 15:26] jbuberel commented on #13
@grange74 aargh - I copy/pasted the wrong snippet into the second code block of my comment. It should have been:

[code]

I just want to better understand whether users will be able to customize the command to include either of these additional flags?

[2015-11-17 22:49] grange74 commented on #13
@jbuberel No worries. I understood what you meant. Yes, definitely I've been testing with these 2 flags

[code]

[2015-11-20 01:38] pobearm opened #16 "Jump to error line"
I think,  jump to error line on mouse click from build message panel, is a good idea.
we can use this regex to  match the file and line from build error message:
(?<file>[\\/0-9a-zA-Z\\._]+):(?<line>\\d+)

example:
./demo.go:20: syntax error: unexpected literal 2, expecting semicolon or newline or

[2015-11-20 01:40] wbond commented on #16
This was taken care of in #3

[2015-11-20 01:45] pobearm opened #17 "Cross compile error"
on mac osx 10.11.1,  cross compile to linux amd64, got an error:

runtime/cgo
ld: unknown option: --build-id=none
clang: error: linker command failed with exit code 1 (use -v to see invocation)

my gcc verstion is:
Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOS

[2015-11-20 01:47] pobearm commented on #16
ok, double click , thanks

[2015-11-20 01:47] #16 closed

[2015-11-20 02:06] ianlancetaylor commented on #17
You are using the system GCC.  When cross-compiling with packages that use cgo, you need to use a cross-compiler or set CGO_ENABLED=0 to disable cgo.

I don't know if this is a sublime issue or not.

[2015-11-25 14:43] wbond commented on #17
@ianlancetaylor Are there other situations related to builds where environmental variables should be set only for specific tasks?

I guess the real question I am asking here is if you think we should build special handling of this (cross-compiling with cgo) into sublime-build, or if we should build a general purpose ability for environment variables to be set per build variant?

Currently we allow

[2015-11-25 14:44] wbond commented on #13
@grange74 I just wanted to ping you on my feedback that I left at https://go-review.googlesource.com/#/c/16851/

[2015-11-25 16:55] ianlancetaylor commented on #17
The environment variables that matter are documented at https://golang.org/cmd/go/#hdr-Environment_variables .  For normal use I think it would be fine to handle cross-compiling as a special case.

[2015-11-26 00:45] pobearm opened #18 "sublime process freezing"
On mac os x 11 , sublime 3(build 3083 newest version),   installed this plugin with package control,
When i open an empty sublime text,  then got 2 system process ,  one of them is freezing.

[2015-11-26 00:48] pobearm commented on #17
I think , this problem is because of  : env  CGO_ENABLED, maybe need to be set in config file.

[2015-11-26 00:48] #17 closed

[2015-11-30 12:41] grange74 commented on #13
@wbond I'd made the golang_build.py and usage.md changes locally as per your feedback and had started to write tests but i haven't managed to be able to run the tests so i've held off pushing my updates. I still can't get past the 'ImportError: No module named sublime' i mentioned in earlier comments.
Can you please let me know how you run the tests?

[2015-11-30 14:45] wbond commented on #13
Tests must be run from within Sublime Text since the package heavily interacts with the Sublime Text API. If you are getting an error about `sublime` not being defined, that makes me think you are trying to use your system (or another) Python install.

In short, you need to install [Package Coverage](https://packagecontrol.io/packages/Package%20Coverage) and use the `Run Tests` command. The https:

[2015-11-30 22:32] grange74 commented on #13
Thanks a lot for the clear response. It seems so obvious in hindsight. While i did install that package, I didn't know what to do with it and obviously I didn't scroll far enough down the Package Coverage documentation page, my apologies.
Once i get more spare time i will see if i can suggest some improvements to development.md for complete SBT plugin newbies likes me.

One thing i did have to do

[2015-12-03 17:16] wbond commented on #18
When you say you have two system processes, what do you mean? Are you referring to Sublime Text icons in the dock?

Does the non-frozen icon function properly?

[2015-12-03 17:18] wbond commented on #13
@grange74 It looks like I missed adding the `.git-keep` files for `go_projects`. I'll submit a CL for that.

[2015-12-04 00:31] pobearm commented on #18
In Activity Monitor of mac os x, search "sublime", there are two processes, one of them is red(freezing).

[2015-12-04 00:39] wbond commented on #18
Is there excessive memory usage or CPU usage?

Sublime Text does in fact use two processes, the GUI and a background process for the plugins to run in. The plugin process seems to expose itself to OS X when the newterm package uses AppleScript via AppKit to launch terminal windows.

Currently https://github.com/codexns/newterm/blob/master/all/newterm/_osx.py#L401-L406 exists to prevent a second do

[2015-12-04 02:50] natefinch opened #19 "Jump to line seems broken?"
When I double click file & line numbers in build & test output now, the editor opens the right window and scrolls to the right place, but focus stays in the output window... which is very confusing, because then I can't immediately scroll around the editor, I have to go click up there, which is an extra unnecessary step, IMO.  It used to work, but seems to have broken recently (I'm on 0.9.0).

[2015-12-20 00:06] timothybone opened #20 "Cycle through errors with F4"
Cycle through errors with F4

[2015-12-20 00:28] wbond commented on #20
This should be available since it was added in 83e26fe4ce06343887df80c4b46a313d6c75fc4a

[2015-12-20 00:33] wbond commented on #19
We haven't changed anything on this package related to build output navigation, and the actual functionality is implemented in Sublime Text proper.

I'm seeing the same behavior, however since the navigation is implemented in Sublime Text, I'm not sure if we'll be able to affect it.

The one thing I want to try is to see if setting the output panel to be read only will make a difference.

[2015-12-20 00:35] wbond commented on #20
Can you see if shift+f4 works for you? I noticed looking at the results that f4 (forward) seems disabled by default, but shift+f4 (backwards) is enabled.

I am wondering if this is due to the cursor position in the output panel when the build process finishes. I'll look into it some more.

[2015-12-20 00:38] wbond commented on #18
@pobearm Did you ever get a chance to see if there was any excessive CPU usage from the second process? If there isn't, I am going to assume this is a side effect of newterm.

[2015-12-20 03:25] natefinch commented on #19
This seems to have resolved itself one way or another. No idea why.

[2015-12-21 21:00] ghost commented on #20
shift+f4 works fine. It puts the cursor on the line number and not the build window (yay!).

[2015-12-21 21:05] ghost commented on #20
F4 works fine too actually. I had F4 overriden in my settings.

[2015-12-21 21:06] #20 closed

[2015-12-22 09:58] grange74 commented on #13
@wbond It took me a while but all changes are finally ready for another review https://go-review.googlesource.com/#/c/16851/

[2015-12-22 21:33] wbond commented on #13
I'm on holiday right now, but will follow up with that next week.

[2015-12-24 23:15] timothybone opened #21 "building always lands on the last error"
any build action always rests on the last error. Is that the desired build behavior?
For example, if I use F4 to cycle to next error, I am greeted with the rebuke "no more results", this is b/c the build process always lands on the last result, and does not cycle to the first but ends on the last error.
 In my limited go experience I find sometimes a later error is caused by an earlier error, but

[2016-01-07 00:16] #21 closed

[2016-01-07 00:37] dmitshur commented on #21
I'm not familiar with the context, but displaying the first (earliest) error, not last, seems like preferable behavior.

[2016-01-10 05:20] wbond commented on #13
@jbuberel I reviewed Patch Set 2 and it LGTM. I can't approve, however.

[2016-01-10 05:21] wbond commented on #18
@jbuberel From my testing I don't believe it is an issue, and @pobearm seems to no longer be responding. You should be able to close this issue.

[2016-01-11 01:10] pobearm commented on #18
sorry for delay!
![qq20160111-0](https://cloud.githubusercontent.com/assets/13976397/12225321/604d9ebc-b843-11e5-8b27-cd150a323cf9.png)

[2016-01-11 17:31] wbond commented on #18
You can confirm my analysis by comparing the PID in the activity monitor with the output from `ps awx | grep plugin_host`.

If Sublime Text and all of your plugins are running, and the PIDs are the same, this is a "bug" with OS X.

[2016-01-12 00:23] #18 closed

[2016-01-12 00:25] #13 closed

[2016-01-12 00:38] grange74 commented on #13
Great. Thanks to you both for your guidance and patience.

[2016-02-08 21:18] nuance commented on #19
I think this is an issue with the result_file_regex definition - it looks like its matching the leading whitespace.

[2016-02-08 21:42] nuance commented on #19
https://go-review.googlesource.com/#/c/19360/

[2016-02-24 21:38] explicite opened #23 "Support for "go fmt""
Hi,
I miss the option of firing `fmt` with every build. It is planned to support this?

Cheers,
JP

[2016-02-24 22:19] nathany commented on #23
@wbond Maybe this should be a separate sublime-fmt (golang-fmt) plugin that does gofmt, goimports, or goreturns?

[2016-02-25 00:16] dmitshur commented on #23
It already is a part of GoSublime. Is sublime-build meant to complement or replace GoSublime?

[2016-02-25 01:26] nathany commented on #23
I think it's intended to be an alternative/replacement. Mind you, GoSublime could also rely on sublime-build and sublime-config instead of doing everything itself.

[2016-02-25 01:49] wbond commented on #23
Yes, Golang Build is meant to be part of a "modular" alternative to GoSublime. Rather than a single package, the idea is to split different functionality into different pieces so they can be developed more easily without needing centralized coordination.

The golangconfig dependency this package uses was built to make it easy to build other Go packages without having to get into the gory details t

[2016-02-25 02:21] nathany commented on #23
Format on save is the default in GoSublime, which makes more sense to me than opt-in, especially if the user is installing the golang-format package.

Are there plans to have a Go meta package that depends on various other little packages? Maybe it could also integrate https://github.com/alecthomas/SublimeLinter-contrib-gometalinter

[2016-02-25 14:06] wbond commented on #23
Unfortunately there is no concept of a meta package yet. I've discussed the idea before under the name "bundle". I don't yet know when I'd be able to work on such functionality within Package Control, and currently there aren't really any other contributors.

Just so you know, what I am discussing here related to gofmt is my own personal thoughts, not me within any Go Team role.

[2016-02-25 16:35] nathany commented on #23
I was thinking a "meta" package would just be an ordinary package that depends on golang-build, golang-format, etc. How would a bundle be different?

[2016-02-25 16:51] wbond commented on #23
Packages can't depend on other packages, only dependencies, which are designed to handle non-user facing components that should be shared, are large (compiled shared libraries), or need to be injected into the Python load path before packages.

My idea with bundles is that they wouldn't be centralized. Thus people don't need to get their bundles approved or anything like that. They could just thro

[2016-05-16 08:06] lostingz commented on #1
reinstall worked successfully

[2016-05-30 14:08] jaggerwang commented on #18
![image](https://cloud.githubusercontent.com/assets/1255011/15651551/f3b8854e-26b2-11e6-90cd-7754eab06b8d.png)
I've the same problem for a long time. I'm using sublime text 3.

[2016-09-17 19:23] paracha3 commented on #23
When we will have support for go fmt?

[2016-09-24 03:19] nathany commented on #23
Is this the best issue to follow regarding bundles? https://github.com/wbond/package_control/issues/1089#issuecomment-188955521

[2016-09-24 04:15] nathany opened #24 "Golang vs. Go"
Would it be more appropriate to name this package "Go Build"?

[2016-09-25 01:04] wbond commented on #24
The Go Team decided on “Golang” since that namespace was open at the the time. I think the hope was to release some other packages using the same prefix.

[2016-09-25 02:35] nathany commented on #24
Alrighty then. It is easier to search for in `package control: install package`.

[2016-09-25 02:35] #24 closed

[2016-10-10 16:21] Saurbaum opened #25 "Can't split main package over multiple files"
If I attempt to split my main package over 2 files to add a little neatness I can compile but I can't run through Sublime.

eg main.go and util.go both start with

package main

Ctrl Shift B and selecting Go Run will result in an error when methods in main.go attempt to call anything defined in util.go.

Running the binary build from the Default menu option from Ctrl Shift B works fine.

[2016-10-10 17:24] wbond commented on #23
@paracha3 I'm not sure who is owning this repo at this point (in terms of making decisions). I'd personally be more in favor of a separate package that would reformat on save.

@nathany Yes, that is probably the closest thing right now.

[2016-10-10 17:26] wbond commented on #25
Does `go run` work from the command line? If so, can you provide the working command line?

The build package is just invoking the cli, so it may just be a limitation of the cli tool. If not, we just need to identify what is different about the two.

[2016-10-10 17:48] ChrisHines commented on #25
For `go run` to work you need to pass all *.go files comprising the main package to the `go run` command line. Given the files mentioned in the original post the build package would need to execute `go run main.go util.go`.

This scenario may become tricky if it is necessary to filter out test files or files for other platforms.

The `go run` docs are here: https://golang.org/cmd/go/#hdr-Compile_a

[2016-10-10 18:00] wbond commented on #25
Thanks for that info @ChrisHines.

What you'll most likely need to do in your situation @Saurbaum is to set up custom "flags". https://github.com/golang/sublime-build/blob/master/docs/configuration.md#command-flags has the general docs. At the bottom of https://github.com/golang/sublime-build/blob/master/docs/configuration.md#using-command-flags-to-specify-build-run-and-install-targets you can see

[2016-10-10 18:02] Saurbaum commented on #25
I'll try it in the morning GMT when the beers have worn off and I'm less
likely to mess it up.

Thanks

On 10 Oct 2016 19:00, "Will Bond" notifications@github.com wrote:

[2016-10-10 19:47] Saurbaum commented on #25
I took my life into my hands and took a shot.

I have it working but it would be neater if I could put a relative path to the project file rather than to GOPATH. Then it would look like the go command line version.

[2016-10-10 21:13] wbond commented on #25
If I recall, the only reason it needs to be relative to GOPATH is so you can run from anywhere in your project.

[2016-10-30 14:14] Saurbaum commented on #25
It's working fine in Windows.  Importing the same package in OSX it doesn't seem to be picking up the .sublime-project file.

[2017-01-23 10:00] ghost commented on #19
I still have this problem.
But I don't think your change is in the current source?
The status at Gerrit is "merged".
But I don't see this change on Github?

[2017-01-23 10:29] ghost commented on #19
I manually updated the sublime-package with your fix and it worked.
So the only problem is that your fix didn't make it back to Github.

[2017-01-23 14:47] dmitshur commented on #19
Indeed. Compare:

https://go.googlesource.com/sublime-build/
https://github.com/golang/sublime-build/commits/master

The latest commit on Gitiles is missing from GitHub.

[2017-02-09 12:00] petemounce opened #26 "Expand relative paths for settings?"
https://github.com/golang/sublime-build/blob/master/docs/configuration.md#global-sublime-text-settings suggests that paths (for, for example, `GOPATH`) should be absolute (though I haven't tested whether this is true).

This prevents the project-specific settings file from being source controllable, since different people will probably put code in different places.

It would be great if relative p

[2017-04-06 20:07] ChrisHines commented on #19
What needs to happen to get the missing commit mirrored? Also I think a new release should be tagged to publish the fix to packagecontrol.io.

[2017-04-07 00:31] wbond commented on #19
If the Go team has abandoned the project, someone can fork it and take over the name on Package Control.

[2017-04-25 20:09] EyesBear opened #28 "Font color change and word warp settings for the command prompt?"
Is it possible to change the font colors and make the command prompt always wrap words after running the build command?

[2017-05-22 23:58] fernanf71 opened #29 "Environment Autodetection"
I installed Go 1.8.1 for Windows (windows 7) in the following path:
C:\Go
When the program was installed the system fixed as environment variables (set by default by Go Program):
Variable: GOPATH (I changed this name from GOROOT -set by default by Go Program- to GOPATH  avoiding an error when I was run a program -Hello world.go- on sublimen text 3)
Value: C:\Go\
Variable: Path
Value: C:\Go\bin
I h

[2017-07-29 02:40] nathany opened #30 "Edit plugins and IDEs"
Sublime Text is not here: https://tip.golang.org/doc/editors.html

[2017-08-08 16:50] nathany commented on #30
Turns out the editors on that page is based on popularity from the Go Survey last year:

https://groups.google.com/forum/#!topic/golang-dev/KRpmMzb-hH4

[2017-09-15 11:44] tg opened #31 "Missing attributes on Sublime 3.0"
I've upgraded Sublime Text 3 from the last beta to the latest (and first) stable version (3.0 build 3143), which seemed to break Golang Build package. Now, after running build, the following error pops up in the console:

[code]

I'm on macOS 10.12.6, go version 1.9.

[2017-11-17 03:00] nathany opened #32 "Language Server?"
It would be nice to see editors and languages standardize around something like Microsoft's [Language Server Protocol](https://github.com/Microsoft/language-server-protocol).

@wbond What are your thoughts on this?

[2017-11-17 07:29] nathany commented on #32
See also: https://groups.google.com/forum/#!topic/golang-dev/mLsGwoFwqoI

[2017-11-17 11:55] wbond commented on #32
The Sublime community has two LSP implementations, although I believe one is sort of abandoned. https://packagecontrol.io/packages/LSP seems to be actively developed, and I have been keeping my eye on it.

[2018-01-30 16:51] teesudo commented on #31
Have the same issue, anyone can help?

[2018-07-03 17:28] jichao6758 opened #33 "plugin_host has exited unexpectedly, plugin functionality won't be available until Sublime Text has been restarted"
Mac system
When I open my sublime, It remind me "plugin_host has exited unexpectedly, plugin functionality won't be available until Sublime Text has been restarted"

[2018-07-13 01:12] andfaulkner commented on #33
I'm having the same issue

[2018-07-21 17:42] arindambarman1-zz commented on #33
Found any fix?

[2018-07-21 17:44] wbond commented on #33
Can you try with Sublime Text build 3161? This sort of sounds like https://github.com/SublimeTextIssues/Core/issues/2327.

[2018-07-21 18:13] arindambarman1-zz commented on #33
Just checked. doesn't work.

[2018-08-15 17:58] pindapuj commented on #33
Ditto. Same problem.
MacOS 10.11.6
Sublime 3176

[2019-01-30 02:59] liujianshan opened #35 "Once compiled, the CPU jumps"
On a MAC, the CPU would skyrocket to 90 percent once compiled.

[2019-01-30 05:05] darkelfss commented on #35
I find this to be a problem with my sublime index_file, which I have worked on for now.

[2019-01-30 05:05] #35 closed

[2019-08-01 18:51] keithrussell42 opened #36 "Builder doesn't support the new (Go 1.12) module way of organizing source."
The Go developers are moving away from GOPATH towards [modules](https://github.com/golang/go/wiki/Modules). I'm trying to go with the flow and use modules for my own code but the Go build plugin for Sublime Text (ST v3.2.1 on Windows/amd64, go version go1.12.7 windows/amd64) insists on having GOPATH set. The go commands work fine if there is a go.mod file present without GOPATH.

I took a skim thr

[2019-08-02 01:08] keithrussell42 commented on #36
I set my GOPATH and the build was fine in a module-oriented setup so I guess this is really a non-issue. I'll close it since there really is nothing to so.

[2019-08-02 01:08] #36 closed

[2019-10-13 13:42] eddiewebb opened #37 "Setting environment variables."
I'm sorry, there is likely something obvious im missing...

My project has to set `CGO_LDFLAGS_ALLOW` to handle a dependent library.  I can find no way to set that at a per-project level in my project config outside of re-defining the entire builder system in my project settings..

MYProject.sublime-project:
[code]

[2019-10-17 11:18] paulwalk opened #38 "changing flags for the run command to ".""
I want to achieve the conventional execution of `go run .` in Sublime Text 3 using the go sublime-build package.

I had thought that I could edit my user settings by going to:

`Preferences / Package Settings / Golang Control / Settings - User`

and inserting the following:

[code]

But this has no effect (even with a restart). I can see that selecting the `go run` build is actually applied to the

[2019-11-12 22:57] zepellin commented on #37
Very much agree that having ability to add custom environmental variables for build would be very useful without having to redefine build system.

[2019-11-19 17:07] ErinCall opened #39 "Error in ST3 console after running a build"
Whenever I run a build, an error appears in the ST3 console:

[code]

The build itself works as expected; it looks like there's just some notification that isn't happening.

I'm using Golang Build 0.9.0, in Sublime Text 3.2.2, on OSX 10.15.1.

[2019-11-29 13:14] zepellin commented on #38
This might not be exaclty what you're asking for, but there as an open pull request for this, which I can confirm is working to produce same functionality as you are asking for - including all .go files in run.

https://github.com/golang/sublime-build/pull/34

It's a shame there's been no movement on the issue for almost 9 months now.

[2019-11-29 13:18] paulwalk commented on #38
Thanks @zepellin! I am going to put a comment on the PR linking to this issue & thread here - perhaps that will prompt some action to merge the PR.

[2020-12-09 08:56] bwallberg opened #40 "Create a new version"
The latest commits doesn't seem to be available in https://packagecontrol.io/packages/Golang%20Build
Specifically the benchmark command, would be nice to have there instead of having to clone the repo.

[2021-01-22 03:56] JonyBepary opened #41 "terminus support instead of default terminal."
Is There any way to use sublime terminus instead default terminal.

[2021-05-06 09:03] hrom512 commented on #31
+1

[2021-06-25 06:26] BryceWayne opened #42 "Adding goimports"
I would like to add the "goimports" and "fmt" to this package. Those two commands really expediate my workflow. Any tips on how I can "go" about this? ;)

[2022-11-18 21:15] #42 closed

[2022-11-19 07:25] informatik01 opened #43 "Double icon and jumping issue on macOS (Apple Silicon)"
Hi.

After installing this package to Sublime Text 4 and opening Sublime Text, in the macOS's dock a second icon appears and keeps jumping for about a minute or so.

Reinstalling this package didn't help. If I uninstall it - this issue disappears. I.e. it is only present with the "sublime-buld" package installed.

## Related info:
 - MacBook Pro 13'', 2020, Apple M1
 - macOS Ventura, version 13.0.